<!DOCTYPE html>
<!--
  Google HTML5 slide template

  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)

  URL: http://code.google.com/p/html5slides/
-->
<html>
  <head>
    <title>Introduction to Ruby on Rails</title>
    <meta charset='utf-8'>
    <script src='slides.js'></script>
  </head>
  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */
  </style>
  <body style='display: none'>
    <section class='slides layout-regular template-default'>
      
      <article>
        <h1>Introduction to<br /> Ruby on Rails</h1>
        <address>
          <div class="author_name">Hatem Mahmoud</div>
          <div>ExpressionLab.com</div>
        </address>
      </article>
      
      <article>
        <h3>Prerequisites</h3>
        <p>Some experience with<br /> Ruby programming</p>
      </article>
      
      <article>
        <h3>Outline</h3>
        <ul style="float: left; width: 400px;">
          <li>Introduction</li>
          <li>Philosophy</li>
          <li>Architecture</li>
          <li>Installation</li>
          <li>Hello, World!</li>
          <li>Scaffolding</li>
        </ul>
        <ul>
          <li>Customization</li>
          <li>Associated Models</li>
          <li>Nested Models</li>
          <li>Helpers</li>
          <li>Popular Projects</li>
          <li>Resources</li>
        </ul>
      </article>
      
      <article>
        <h1>Introduction</h1>
      </article>
      
      <article>
        <img src="images/dhh.jpg" class="small avatar" />
        <h3>History</h3>
        <p>
          Created in 2004 by<br />
          <em>David Heinemeier Hansson, "DHH"</em>,<br />
          from his work on <em>Basecamp</em><br/>
          at <em>37signals</em>
        </p>
      </article>
      
      <article>
        <h3>Ruby on Rails is...</h3>
        <p>An open source<br />web application framework written in Ruby.</p>
      </article>
      
      <article>
        <h1>Philosophy</h1>
      </article>
      
      <article>
        <h3>1. Convention over Configuration</h3>
        <p><em>"A developer only needs to specify unconventional aspects of the application."</em></p>
      </article>
      
      <article>
        <h3>2. DRY - Don’t Repeat Yourself</h3>
        <p><em>"Every piece of knowledge must have a single, unambiguous, authoritative representation."</em></p>
      </article>
      
      <article>
        <h3>3. Agile Development</h3>
        <img src="images/agilemanifesto.png" class="xlarge" />
      </article>
      
      <article>
        <h1>Architecture</h1>
      </article>
      
      <article>
        <h3>MVC (Model-View-Controller)</h3>
        <p>A software architecture that isolates the business logic from the user interface</p>
      </article>
      
      <article>
        <h3>MVC</h3>
        <img src="images/mvc.jpg" style="margin-top: 50px; height: 80%;" class="large" />
      </article>
      
      <article>
        <h3>REST (REpresentational State Transfer)</h3>
        <p>A style of software architecture for distributed hypermedia systems such as the Web</p>
      </article>
      
      <article>
        <h3>REST</h3>
        <ol>
          <li>A <strong>client</strong> makes a <strong>request</strong> for a <strong>resource</strong> on a server</li>
          <li>The <strong>server</strong> issues a <strong>response</strong> that includes a <strong>representation</strong> of the resource</li>
          <li>Communication is <strong>stateless</strong></li>
        </ol>
      </article>
      
      <article>
        <h3>RESTful Apps</h3>
        <p>Maps CRUD operations to HTTP methods and use URLs to address resources</p>
      </article>
      
      <article>
        <h3>RESTful Routing</h3>
        <table>
          <tbody>
            <tr>
              <th>Verb</th>
              <th>Path</th>
              <th>Action</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>GET</td>
              <td>/photos</td>
              <td><code>index</code></td>
              <td>Display a list of all photos</td>
            </tr>
            <tr>
              <td>GET</td>
              <td>/photos/new</td>
              <td><code>new</code></td>
              <td>Return a form for a new photo</td>
            </tr>
            <tr>
              <td>POST</td>
              <td>/photos</td>
              <td><code>create</code></td>
              <td>Create a new photo</td>
            </tr>
            <tr>
              <td>GET</td>
              <td>/photos/:id</td>
              <td><code>show</code></td>
              <td>Display a photo</td>
            </tr>
            <tr>
              <td>GET</td>
              <td>/photos/:id/edit</td>
              <td><code>edit</code></td>
              <td>Return a form to edit a photo</td>
            </tr>
            <tr>
              <td>PUT</td>
              <td>/photos/:id</td>
              <td><code>update</code></td>
              <td>Update a photo</td>
            </tr>
            <tr>
              <td>DELETE</td>
              <td>/photos/:id</td>
              <td><code>destroy</code></td>
              <td>Delete a photo</td>
            </tr>
          </tbody>
        </table>
      </article>
      
      <article>
        <h1>Installation</h1>
      </article>
      
      <article>
        <h3>Installation</h3>
        <ol>
          <li>Install Ruby</li>
          <li>Install a database engine:<br /> SQLite3, MySQL, PostgreSQL, etc.</li>
          <li>Install <code>rails</code> gem</li>
        </ol>
      </article>
      
      <article>
        <h3>Installation</h3>
        <pre>
$ gem install rails
# Successfully installed rails-3.2.13
        </pre>
        <pre>
$ rails -v
# Rails 3.2.13
        </pre>
      </article>
      
      <article>
        <h1>Hello, World!</h1>
      </article>
      
      <article>
        <h3>1. Generate an App</h3>
        <pre>
$ rails new blog</pre>
        <pre>
  create  
  create  README.rdoc
  create  Rakefile
  create  config.ru
  create  .gitignore
  create  Gemfile
  create  app
  create  app/assets/images/rails.png
  create  app/assets/javascripts/application.js
  create  app/assets/stylesheets/application.css
  create  app/controllers/application_controller.rb
  create  app/helpers/application_helper.rb
  create  app/mailers
  create  app/models
  create  app/views/layouts/application.html.erb
  create  app/mailers/.gitkeep
  create  app/models/.gitkeep
  create  config
  create  config/routes.rb
  create  config/application.rb
  create  config/environment.rb
  create  config/environments
  create  config/environments/development.rb
  create  config/environments/production.rb
  create  config/environments/test.rb
  create  config/initializers
  create  config/initializers/backtrace_silencers.rb
  create  config/initializers/inflections.rb
  create  config/initializers/mime_types.rb
  create  config/initializers/secret_token.rb
  create  config/initializers/session_store.rb
  create  config/initializers/wrap_parameters.rb
  create  config/locales
  create  config/locales/en.yml
  create  config/boot.rb
  create  config/database.yml
  create  db
  create  db/seeds.rb
  create  doc
  create  doc/README_FOR_APP
  create  lib
  create  lib/tasks
  create  lib/tasks/.gitkeep
  create  lib/assets
  create  lib/assets/.gitkeep
  create  log
  create  log/.gitkeep
  create  public
  create  public/404.html
  create  public/422.html
  create  public/500.html
  create  public/favicon.ico
  create  public/index.html
  create  public/robots.txt
  create  script
  create  script/rails
  create  test/fixtures
  create  test/fixtures/.gitkeep
  create  test/functional
  create  test/functional/.gitkeep
  create  test/integration
  create  test/integration/.gitkeep
  create  test/unit
  create  test/unit/.gitkeep
  create  test/performance/browsing_test.rb
  create  test/test_helper.rb
  create  tmp/cache
  create  tmp/cache/assets
  create  vendor/assets/javascripts
  create  vendor/assets/javascripts/.gitkeep
  create  vendor/assets/stylesheets
  create  vendor/assets/stylesheets/.gitkeep
  create  vendor/plugins
  create  vendor/plugins/.gitkeep
     run  bundle install
Fetching source index for https://rubygems.org/
Using rake (0.9.2.2) 
Installing i18n (0.6.1) 
Using multi_json (1.3.6) 
Using activesupport (3.2.8) 
Installing builder (3.0.3) 
Using activemodel (3.2.8) 
Using erubis (2.7.0) 
Using journey (1.0.4) 
Using rack (1.4.1) 
Using rack-cache (1.2) 
Using rack-test (0.6.1) 
Using hike (1.2.1) 
Using tilt (1.3.3) 
Using sprockets (2.1.3) 
Using actionpack (3.2.8) 
Using mime-types (1.19) 
Using polyglot (0.3.3) 
Using treetop (1.4.10) 
Using mail (2.4.4) 
Using actionmailer (3.2.8) 
Using arel (3.0.2) 
Using tzinfo (0.3.33) 
Using activerecord (3.2.8) 
Using activeresource (3.2.8) 
Using bundler (1.0.21) 
Using coffee-script-source (1.3.3) 
Using execjs (1.4.0) 
Using coffee-script (2.2.0) 
Using rack-ssl (1.3.2) 
Installing json (1.7.5) with native extensions 
Using rdoc (3.12) 
Installing thor (0.16.0) 
Using railties (3.2.8) 
Using coffee-rails (3.2.2) 
Installing jquery-rails (2.1.2) 
Using rails (3.2.8) 
Installing sass (3.2.1) 
Using sass-rails (3.2.5) 
Using sqlite3 (1.3.6) 
Installing uglifier (1.3.0) 
Your bundle is complete! Use `bundle show [gemname]` to see where a bundled gem is installed.</pre>
      </article>
      
      <article>
        <h3>App Structure</h3>
        <img src="images/app-structure.png" class="xlarge" style="margin-top: 20px; height: 90%;" />
      </article>
      
      <article>
        <h3>2. Configure the Database</h3>
        <pre>
# config/database.yml
development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

production:
  adapter: sqlite3
  database: db/production.sqlite3
  pool: 5
  timeout: 5000</pre>
      </article>
      
      <article>
        <h3>3. Start a Web Server</h3>
        <pre>
$ cd blog
$ rails server
=> Booting WEBrick
=> Rails 3.2.13 application starting in development on http://0.0.0.0:3000
=> Call with -d to detach
=> Ctrl-C to shutdown server
[2013-05-02 07:34:10] INFO  WEBrick 1.3.1
[2013-05-02 07:34:10] INFO  ruby 2.0.0 (2013-02-24) [x86_64-darwin12.2.0]
[2013-05-02 07:34:10] INFO  WEBrick::HTTPServer#start: pid=3732 port=3000</pre>
      </article>
      
      <article class="full">
        <img src="images/welcome-aboard.png" />
      </article>
      
      <article>
        <h1>Scaffolding</h1>
      </article>
      
      <article>
        <h3>1. Scaffold a Resource</h3>
        <pre>
$ rails generate scaffold article title:string content:text</pre>
        <pre>
  invoke  active_record
  create    db/migrate/20120913204150_create_articles.rb
  create    app/models/article.rb
  invoke    test_unit
  create      test/unit/article_test.rb
  create      test/fixtures/articles.yml
  invoke  resource_route
   route    resources :articles
  invoke  scaffold_controller
  create    app/controllers/articles_controller.rb
  invoke    erb
  create      app/views/articles
  create      app/views/articles/index.html.erb
  create      app/views/articles/edit.html.erb
  create      app/views/articles/show.html.erb
  create      app/views/articles/new.html.erb
  create      app/views/articles/_form.html.erb
  invoke    test_unit
  create      test/functional/articles_controller_test.rb
  invoke    helper
  create      app/helpers/articles_helper.rb
  invoke      test_unit
  create        test/unit/helpers/articles_helper_test.rb
  invoke  assets
  invoke    coffee
  create      app/assets/javascripts/articles.js.coffee
  invoke    scss
  create      app/assets/stylesheets/articles.css.scss
  invoke  scss
  create    app/assets/stylesheets/scaffolds.css.scss
    </pre>
      </article>
      
      <article>
        <h3>2. Run Migration</h3>
        <pre>
$ rake db:migrate</pre>
        <pre>
==  CreateArticles: migrating =================================================
-- create_table(:articles)
   -> 0.0010s
==  CreateArticles: migrated (0.0010s) ========================================</pre>
      </article>
      
      <article class="full">
        <img src="images/articles-index-empty.png" />
      </article>
      
      <article class="full">
        <img src="images/articles-new.png" />
      </article>
      
      <article class="full">
        <img src="images/articles-created.png" />
      </article>
      
      <article class="full">
        <img src="images/articles-index-created.png" />
      </article>
      
      <article class="full">
        <img src="images/articles-edit.png" />
      </article>
      
      <article class="full">
        <img src="images/articles-updated.png" />
      </article>
      
      <article class="full">
        <img src="images/articles-index-updated.png" />
      </article>
      
      <article class="full">
        <img src="images/articles-destroy.png" />
      </article>
      
      <article class="full">
        <img src="images/articles-index-destroyed.png" />
      </article>
      
      <article class="full">
        <img src="images/articles-show-json.png" />
      </article>
      
      <article class="full">
        <img src="images/articles-index-json.png" />
      </article>
      
      <article>
        <h3>Migration</h3>
        <pre>
# db/migrate/20120913204150_create_articles.rb
class CreateArticles < ActiveRecord::Migration
  def change
    create_table :articles do |t|
      t.string :title
      t.text :content

      t.timestamps
    end
  end
end</pre>
      </article>
      
      <article>
        <h3>Model</h3>
        <pre>
# app/models/article.rb
class Article < ActiveRecord::Base
  attr_accessible :title, :content
end
</pre>
      </article>
      
      <article>
        <h3>Routes</h3>
        <pre>
# config/routes.rb
Blog::Application.routes.draw do
  resources :articles
end</pre>
      </article>
         
      <article>
        <h3>Controller</h3>
        <pre>
# app/controllers/articles_controller.rb
class ArticlesController < ApplicationController
  def index
    @articles = Article.all
  end

  def show
    @article = Article.find(params[:id])
  end

  def new
    @article = Article.new
  end

  def edit
    @article = Article.find(params[:id])
  end

  def create
    @article = Article.new(params[:article])
    if @article.save
      redirect_to @article, notice: 'Article was successfully created.'
    else
      render :new
    end
  end

  def update
    @article = Article.find(params[:id])
    if @article.update_attributes(params[:article])
      redirect_to @article, notice: 'Article was successfully updated.'
    else
      render :edit
    end
  end

  def destroy
    @article = Article.find(params[:id])
    @article.destroy
    redirect_to articles_path
  end
end
</pre>
      </article>
         
      <article>
        <h3>Controller</h3>
        <pre>
# app/controllers/articles_controller.rb
class ArticlesController < ApplicationController
  # GET /articles
  # GET /articles.json
  def index
    @articles = Article.all
    respond_to do |format|
      format.html # index.html.erb
      format.json { render json: @articles }
    end
  end

  # GET /articles/1
  # GET /articles/1.json
  def show
    @article = Article.find(params[:id])
    respond_to do |format|
      format.html # show.html.erb
      format.json { render json: @article }
    end
  end

  # GET /articles/new
  # GET /articles/new.json
  def new
    @article = Article.new
    respond_to do |format|
      format.html # new.html.erb
      format.json { render json: @article }
    end
  end

  # GET /articles/1/edit
  def edit
    @article = Article.find(params[:id])
  end

  # POST /articles
  # POST /articles.json
  def create
    @article = Article.new(params[:article])
    respond_to do |format|
      if @article.save
        format.html { redirect_to @article, notice: 'Article was successfully created.' }
        format.json { render json: @article, status: :created, location: @article }
      else
        format.html { render action: "new" }
        format.json { render json: @article.errors, status: :unprocessable_entity }
      end
    end
  end

  # PUT /articles/1
  # PUT /articles/1.json
  def update
    @article = Article.find(params[:id])
    respond_to do |format|
      if @article.update_attributes(params[:article])
        format.html { redirect_to @article, notice: 'Article was successfully updated.' }
        format.json { head :no_content }
      else
        format.html { render action: "edit" }
        format.json { render json: @article.errors, status: :unprocessable_entity }
      end
    end
  end

  # DELETE /articles/1
  # DELETE /articles/1.json
  def destroy
    @article = Article.find(params[:id])
    @article.destroy
    respond_to do |format|
      format.html { redirect_to articles_url }
      format.json { head :no_content }
    end
  end
end
</pre>
      </article>
      
      <article>
        <h3>Views: Layout</h3>
        <pre>
&lt;!-- app/views/layouts/application.html.erb --&gt;
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;title&gt;Blog&lt;/title&gt;
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
&lt;/head&gt;
&lt;body&gt;
  <% flash.each do |name, message| %>
    &lt;div id="<%= name %>"><%= message %>&lt;/div>
  <% end %>
  <%= yield %>
&lt;/body&gt;
&lt;/html&gt;</pre>
      </article>
      
      <article>
        <h3>Views: index</h3>
        <pre>
&lt;!-- app/views/articles/index.html.erb --&gt;
&lt;h1>Listing articles&lt;/h1>
&lt;table>
  &lt;tr>
    &lt;th>Title&lt;/th>
    &lt;th>Content&lt;/th>
    &lt;th>&lt;/th>
    &lt;th>&lt;/th>
    &lt;th>&lt;/th>
  &lt;/tr>
<% @articles.each do |article| %>
  &lt;tr>
    &lt;td><%= article.title %>&lt;/td>
    &lt;td><%= article.content %>&lt;/td>
    &lt;td><%= link_to 'Show', article %>&lt;/td>
    &lt;td><%= link_to 'Edit', edit_article_path(article) %>&lt;/td>
    &lt;td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>&lt;/td>
  &lt;/tr>
<% end %>
&lt;/table>
&lt;br />
<%= link_to 'New Article', new_article_path %></pre>
      </article>
      
      <article>
        <h3>Views: show</h3>
        <pre>
&lt;!-- app/views/articles/show.html.erb --&gt;
&lt;p>&lt;b>Title:&lt;/b> <%= @article.title %>&lt;/p>
&lt;p>&lt;b>Content:&lt;/b> <%= @article.content %>&lt;/p>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</pre>
      </article>
      
      <article>
        <h3>Views: new</h3>
        <pre>
&lt;!-- app/views/articles/new.html.erb --&gt;
&lt;h1>New article&lt;/h1>
<%= render 'form' %>
<%= link_to 'Back', articles_path %>
</pre>
      </article>
      
      <article>
        <h3>Views: edit</h3>
        <pre>
&lt;!-- app/views/articles/edit.html.erb --&gt;
&lt;h1>Edit article&lt;/h1>
<%= render 'form' %>
<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
</pre>
      </article>
      
      <article>
        <h3>Views: Partial</h3>
        <pre>
&lt;!-- app/views/articles/_form.html.erb --&gt;
<%= form_for(@article) do |f| %>
  <% if @article.errors.any? %>
    &lt;div id="error_explanation">
      &lt;h2>
       <%= pluralize(@article.errors.count, 'error') %>
       prohibited this article from being saved:
      &lt;/h2>
      &lt;ul>
      <% @article.errors.full_messages.each do |msg| %>
        &lt;li><%= msg %>&lt;/li>
      <% end %>
      &lt;/ul>
    &lt;/div>
  <% end %>
  &lt;div class="field">
    <%= f.label :title %>&lt;br />
    <%= f.text_field :title %>
  &lt;/div>
  &lt;div class="field">
    <%= f.label :content %>&lt;br />
    <%= f.text_area :content %>
  &lt;/div>
  &lt;div class="actions">
    <%= f.submit %>
  &lt;/div>
<% end %>
</pre>
      </article>
      
      <article>
        <h1>Customization</h1>
      </article>
      
      <article>
        <h3>Root Route</h3>
        <pre>
# config/routes.rb
Blog::Application.routes.draw do
  resources :articles
  root to: 'articles#index'
end
</pre>
      </article>
      
      <article class="full">
        <img src="images/home.png" />
      </article>
      
      <article>
        <h3>Validation</h3>
        <pre>
# app/models/article.rb
class Article < ActiveRecord::Base
  attr_accessible :title, :content
  validates :title, :presence => true,
                    :length => { :minimum => 5 }
  validates :content, :presence => true
end</pre>
      </article>
      
      <article class="full">
        <img src="images/articles-validation.png" />
      </article>
      
      <article>
        <h3>Console</h3>
        <pre>$ rails console</pre>
<pre>Loading development environment (Rails 3.2.13)
irb(main):001:0> a = Article.new(title: 'My title')
=> #&lt;Article id: nil, title: "My title", content: nil, created_at: nil, updated_at: nil>
irb(main):002:0> a.save
   (0.1ms)  begin transaction
   (0.1ms)  rollback transaction
=> false
irb(main):003:0> a.errors.full_messages
=> ["Content can't be blank"]
</pre>
      </article>
      
      <article>
        <h3>Console</h3>
        <pre>
irb(main):004:0> a.content = 'My content.'
=> "My content."
irb(main):005:0> a.save
   (0.1ms)  begin transaction
  SQL (21.3ms)  INSERT INTO "articles" ("content", "created_at", "title", "updated_at") VALUES (?, ?, ?, ?)  [["content", "My content."], ["created_at", Sat, 15 Sep 2012 10:45:17 UTC +00:00], ["title", "My title"], ["updated_at", Sat, 15 Sep 2012 10:45:17 UTC +00:00]]
   (2.2ms)  commit transaction
=> true
irb(main):006:0> Article.count
   (0.2ms)  SELECT COUNT(*) FROM "articles" 
=> 2
irb(main):007:0> Article.last.title
  Article Load (0.2ms)  SELECT "articles".* FROM "articles" ORDER BY "articles"."id" DESC LIMIT 1
=> "My title"
</pre>
      </article>
      
      <article>
        <h1>Associated Models</h1>
      </article>
      
      <article>
        <h3>1. Generate Model</h3>
        <pre>
$ rails generate model comment article:references name:string content:text</pre>
        <pre>
  invoke  active_record
  create    db/migrate/20120922050616_create_comments.rb
  create    app/models/comment.rb
  invoke    test_unit
  create      test/unit/comment_test.rb
  create      test/fixtures/comments.yml
</pre>
      </article>
      
      <article>
        <h3>Model</h3>
        <pre>
# app/models/comment.rb
class Comment < ActiveRecord::Base
  attr_accessible :name, :content
  belongs_to :article
end
</pre>
      </article>
      
      <article>
        <h3>Migration</h3>
        <pre>
# db/migrate/20120922050616_create_comments.rb
class CreateComments < ActiveRecord::Migration
  def change
    create_table :comments do |t|
      t.references :article
      t.string :name
      t.text :content
      t.timestamps
    end
    add_index :comments, :article_id
  end
end
</pre>
      </article>
      
      <article>
        <h3>2. Run the Migration</h3>
        <pre>
$ rake db:migrate</pre>
        <pre>
==  CreateComments: migrating =================================================
-- create_table(:comments)
   -> 0.0059s
-- add_index(:comments, :article_id)
   -> 0.0005s
==  CreateComments: migrated (0.0065s) ========================================
</pre>
      </article>
      
      <article>
        <h3>3. Associate Models</h3>
        <pre>
# app/models/article.rb
class Article < ActiveRecord::Base
  attr_accessible :title, :content
  validates :title, :presence => true,
                    :length => { :minimum => 5 }
  validates :content, :presence => true
  has_many :comments, :dependent => :destroy
end
</pre>
      </article>
      
      <article>
        <h3>4. Update Routes</h3>
        <pre>
# config/routes.rb
Blog::Application.routes.draw do
  resources :articles do
    resources :comments
  end
  root to: 'articles#index'
end
</pre>
      </article>
      
      <article>
        <h3>5. Generate Controller</h3>
        <pre>
$ rails generate controller comments</pre>
        <pre>
  create  app/controllers/comments_controller.rb
  invoke  erb
  create    app/views/comments
  invoke  test_unit
  create    test/functional/comments_controller_test.rb
  invoke  helper
  create    app/helpers/comments_helper.rb
  invoke    test_unit
  create      test/unit/helpers/comments_helper_test.rb
  invoke  assets
  invoke    coffee
  create      app/assets/javascripts/comments.js.coffee
  invoke    scss
  create      app/assets/stylesheets/comments.css.scss
</pre>
      </article>
      
      <article>
        <h3>6. Update Controller</h3>
        <pre>
# app/controllers/comments_controller.rb
class CommentsController < ApplicationController
  def create
    @article = Article.find(params[:article_id])
    @comment = @article.comments.create(params[:comment])
    redirect_to @article, notice: 'Comment was successfully created.'
  end
 
  def destroy
    @article = Article.find(params[:article_id])
    @comment = @article.comments.find(params[:id])
    @comment.destroy
    redirect_to @article
  end
end
</pre>
      </article>
      
      <article>
        <h3>7. Update Views</h3>
        <pre>
&lt;!-- app/views/articles/show.html.erb --&gt;
&lt;p>&lt;b>Title:&lt;/b> <%= @article.title %>&lt;/p>
&lt;p>&lt;b>Content:&lt;/b> <%= @article.content %>&lt;/p>

&lt;h2>Comments&lt;/h2>
<%= render @article.comments %>
 
&lt;h2>Add Comment&lt;/h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</pre>
      </article>
      
      <article>
        <h3>7. Update Views</h3>
        <pre>
&lt;!-- app/views/comments/_comment.html.erb --&gt;
&lt;p>
  &lt;b><%= comment.name %>&lt;/b>
  [<%= link_to 'Delete', [@article, comment], confirm: 'Delete comment?', method: :delete %>]&lt;br />
  <%= comment.content %>
&lt;/p>
</pre>
      </article>
      
      <article>
        <h3>7. Update Views</h3>
        <pre>
&lt;!-- app/views/comments/_form.html.erb --&gt;
<%= form_for([@article, @article.comments.new]) do |f| %>
  &lt;div class="field">
    <%= f.label :name %>&lt;br />
    <%= f.text_field :name %>
  &lt;/div>
  &lt;div class="field">
    <%= f.label :content %>&lt;br />
    <%= f.text_area :content %>
  &lt;/div>
  &lt;div class="actions">
    <%= f.submit %>
  &lt;/div>
<% end %>
</pre>
      </article>
      
      <article class="full">
        <img src="images/articles-comment-created.png" />
      </article>
      
      <article>
        <h1>Nested Models</h1>
      </article>
      
      <article>
        <h3>1. Generate Model</h3>
        <pre>
$ rails generate model tag article:references name:string</pre>
        <pre>
  invoke  active_record
  create    db/migrate/20120922085451_create_tags.rb
  create    app/models/tag.rb
  invoke    test_unit
  create      test/unit/tag_test.rb
  create      test/fixtures/tags.yml
</pre>
      </article>
      
      <article>
        <h3>2. Run Migration</h3>
        <pre>
$ rake db:migrate</pre>
        <pre>
==  CreateTags: migrating =====================================================
-- create_table(:tags)
   -> 0.0054s
-- add_index(:tags, :article_id)
   -> 0.0004s
==  CreateTags: migrated (0.0060s) ============================================
</pre>
      </article>
      
      <article>
        <h3>3. Accept Nested Attributes</h3>
        <pre>
# app/models/article.rb
class Article < ActiveRecord::Base
  attr_accessible :title, :content, :tags_attributes
  validates :title, :presence => true,
                    :length => { :minimum => 5 }
  validates :content, :presence => true
  has_many :comments, :dependent => :destroy
  has_many :tags
  accepts_nested_attributes_for :tags,
    :allow_destroy => :true,
    :reject_if => proc { |attrs| attrs.all? { |k, v| v.blank? } }
end
</pre>
      </article>
      
      <article>
        <h3>4. Update Controller</h3>
        <pre>
# app/controllers/articles_controller.rb
class ArticlesController < ApplicationController
  ...
  def new
    @article = Article.new
    3.times { @article.tags.new }
  end

  def edit
    @article = Article.find(params[:id])
    3.times { @article.tags.new }
  end
  ...
end
</pre>
      </article>
      
      <article>
        <h3>5. Update Views</h3>
        <pre>
&lt;!-- app/views/articles/_form.html.erb --&gt;
<%= form_for(@article) do |f| %>
  ...
  &lt;div class="field">
    <%= f.label :title %>&lt;br />
    <%= f.text_field :title %>
  &lt;/div>
  &lt;div class="field">
    <%= f.label :content %>&lt;br />
    <%= f.text_area :content %>
  &lt;/div>
  &lt;h2>Tags&lt;/h2>
  <%= render 'tags/form', form: f %>
  &lt;div class="actions">
    <%= f.submit %>
  &lt;/div>
<% end %>
</pre>
      </article>
      
      <article>
        <h3>5. Update Views</h3>
        <pre>
&lt;!-- app/views/tags/_form.html.erb --&gt;
<%= form.fields_for :tags do |f| %>
  &lt;div class="field">
    <%= f.label :name, 'Tag:' %>
    <%= f.text_field :name %>
  <% unless f.object.nil? || f.object.new_record? %>
    <%= f.check_box :_destroy %>
    <%= f.label :_destroy, 'Remove' %>
  <% end %>
  &lt;/div>
<% end %>
</pre>
      </article>
      
      <article class="full">
        <img src="images/articles-tags-new.png" />
      </article>
      
      <article>
        <h3>5. Update Views</h3>
        <pre>
&lt;!-- app/views/articles/show.html.erb --&gt;
&lt;p>&lt;b>Title:&lt;/b> <%= @article.title %>&lt;/p>
&lt;p>&lt;b>Content:&lt;/b> <%= @article.content %>&lt;/p>
&lt;p>&lt;b>Tags:&lt;/b> <%= @article.tags.map { |t| t.name }.join(', ') %>&lt;/p>

&lt;h2>Comments&lt;/h2>
<%= render @article.comments %>
 
&lt;h2>Add Comment&lt;/h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</pre>
      </article>
      
      <article class="full">
        <img src="images/articles-tags-created.png" />
      </article>
      
      <article class="full">
        <img src="images/articles-tags-edit.png" />
      </article>
      
      <article>
        <h1>Helpers</h1>
      </article>
      
      <article>
        <h3>1. Create Helper</h3>
        <pre>
# app/helpers/articles_helper.rb
module ArticlesHelper
  def join_tags(article)
    article.tags.map { |t| t.name }.join(', ')
  end
end
</pre>
      </article>
      
      <article>
        <h3>2. Update View</h3>
        <pre>
&lt;!-- app/views/articles/show.html.erb --&gt;
&lt;p>&lt;b>Title:&lt;/b> <%= @article.title %>&lt;/p>
&lt;p>&lt;b>Content:&lt;/b> <%= @article.content %>&lt;/p>
&lt;p>&lt;b>Tags:&lt;/b> <%= join_tags @article %>&lt;/p>

&lt;h2>Comments&lt;/h2>
<%= render @article.comments %>
 
&lt;h2>Add Comment&lt;/h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
</pre>
      </article>
      
      <article>
        <h1>Popular Projects</h1>
      </article>
      
      <article class="full">
        <img src="images/twitter.png" />
      </article>
      
      <article class="full">
        <img src="images/github.png" />
      </article>
      
      <article class="full">
        <img src="images/yellowpages.png" />
      </article>
      
      <article class="full">
        <img src="images/gov-uk.png" />
      </article>
      
      <article class="full">
        <img src="images/slideshare.png" />
      </article>
      
      <article class="full">
        <img src="images/radiantcms.png" />
      </article>
      
      <article class="full">
        <img src="images/refinerycms.png" />
      </article>
      
      <article class="full">
        <img src="images/redmine.png" />
      </article>
      
      <article>
        <h1>Resources</h1>
      </article>
      
      <article class="full">
        <img src="images/rubyonrails.png" />
      </article>
      
      <article class="full">
        <img src="images/rails-guides.png" />
      </article>
      
      <article class="full">
        <img src="images/rails-code.png" />
      </article>
      
      <article class="full">
        <img src="images/rails-api.png" />
      </article>
      
      <article class="full">
        <img src="images/rails-for-zombies.png" />
      </article>
      
      <article class="full">
        <img src="images/ruby-on-rails-tutorial.png" />
      </article>
      
      <article class="full">
        <img src="images/railscasts.png" />
      </article>
      
      <article>
        <h1>Assignments</h1>
      </article>
      
      <article>
        <h3>Assignment #1</h3>
        <ul>
          <li>Follow the <a href="http://guides.rubyonrails.org/getting_started.html" target="_blank">Getting Started with Rails</a> guide to create your own blog</li>
        </ol>
      </article>
      
      <article>
        <h3>Assignment #2</h3>
        <ul>
          <li>Follow <a href="http://railscasts.com/episodes/254-pagination-with-kaminari" target="_blank">Railscasts episode #254</a> to add pagination to your blog using the "Kaminari" gem</li>
        </ul>
      </article>
      
      <article>
        <h3>Assignment #3</h3>
        <ul>
          <li>Add user authentication to your blog using "has_secure_password"</li>
          <li>Make sure that only you are able to create and edit articles and delete comments, and that every one can post comments</li>
        </ul>
      </article>
      
      <article>
        <h1>Thank You!</h1>
        <address>
          <div class="author_name">Hatem Mahmoud</div>
          <div><small><a href="mailto:hatem@expressionlab.com">hatem@expressionlab.com</a></small></div>
        </address>
      </article>
    </section>
  </body>
</html>